:root{
    --cor1:#D90416;
    --cor2:#055BA6;
    --cor3:#F2E41D;
    --cor4:#F2CF1D;
    --cor5:#F2F2F2;

}
.menu{
    background-color: var(--cor3);
    position: relative;
    left: 55%;
    width: 40%;
    border-radius: 10px;
     height: 350px;
    
}
.menu>div{
    
    height: 350px;
}
.menu>div>a{
    text-decoration: none;
    background-color:var(--cor1) ;
    padding: 10px;
    border-radius: 10px;
    color: black;
    line-height: 100px;
    transition: .3s;
}
.menu>div>a:hover{
    transition: .3s;
    background-color: var(--cor5);
}

