:root{
    --cor1:#D90416;
    --cor2:#055BA6;
    --cor3:#F2E41D;
    --cor4:#F2CF1D;
    --cor5:#F2F2F2;

}
body{
    margin: 0;
}
header{
    text-align: center;
    background-color: var(--cor2);
    height: 420px;
}