*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
:root{
    --cor1:rgba(255, 255, 0, 0.772);
    --cor2:rgba(255, 0, 0, 0.533);
    --cor3:rgb(43, 46, 248);
}
nav{
    background-color: var(--cor3);
    
    text-align: center;
    
    
}
nav ul{
    list-style: none;
    
    
    
}
nav ul li {
    border-left: 2px solid black;
    display: inline-block;
    padding: 20px;
    transition: 0.5s;
    
}
nav ul li a{
    text-decoration: none;
    color: var(--cor2);
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s;
   
}
nav ul li.fim{
    border-right: 2px solid black;
}
nav ul li:hover{
    background-color: var(--cor1);
    border: none;

    
}
nav ul li:hover a{
    color: var(--cor3);
}
@keyframes texte {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}